<form #form="ngForm" autocomplete="off" *ngIf="Orderservice.pizzaData" (submit)="onSubmit(form)">

    <div class="flex">
        <h1>Begin New Order</h1>
    </div>
    <br>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label id="onumberl">Order Number:</label>                
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div id="onumberad" class="input-group-text">#</div>
                    </div>
                    <input id="onumberi" name="OrderNo" #OrderNo="ngModel" [(ngModel)]="Orderservice.orderData.Order_No" class="form-control" readonly>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="text-center lbl" id="ostatusl">Order Status</label>                
                <div class="input-group">
                    <input id="ostatusi" name="orderStatus" #orderStatus="ngModel" [(ngModel)]="Orderservice.orderData.Status" 
                        class="form-control" readonly>
                </div>
            </div>
        </div>
    
        <div class="col-md-6">
            <div class="form-group">
                <label id="otypel">Order Type</label>
                <select id="sotype" name="OrderTypeID" #OrderTypeID="ngModel" 
                        [(ngModel)]="Orderservice.orderData.Order_Type_ID" class="form-control"
                        (change)="selectOrderType($event.target)" [class.is-invalid]="!isValid && Orderservice.orderData.Order_Type_ID==0">
                    <option value="0">-- Select --</option>
                    <option *ngFor="let item of odTypeList" value="{{item.Order_Type_ID}}">{{item.Order_Type1}}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="text-center lbl" id="odatel">Order Date</label>                
                <div class="input-group">
                    <input id="odatei" name="OrderDate" #OrderDate="ngModel" [(ngModel)]="Orderservice.orderData.Order_Date" 
                        class="form-control" readonly>
                </div>
            </div>
        </div>
    
        <div class="col-md-6">
            <div class="form-group">
                <label id="ototall">Order Total:</label>                
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div id="ototalad" class="input-group-text">R</div>
                    </div>
                    <input id="ototali" name="OTotal" #OTotal="ngModel" [(ngModel)]="Orderservice.orderData.OTotal" class="form-control" readonly>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="form-group flex">
        <button type="button" class="btn btn-outline-dark ml-1 btn-lg" (click)="startNewOrder()"><i class="fa fa-pencil" ></i> Begin Order</button>
    </div>
    <br>
    <hr>
    

    <!-- Pizza Table -->
    <table class="table table-boarderless" id="tpizza">
        <thead class="thead-light">
            <tr>
                <th>Flavour</th>
                <th>Description</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
      <tbody>
        <tr *ngFor="let item of pizzaList; let i=index;">
            <td>{{ item.Pizza_Name }}</td>
            <td>{{ item.Pizza_Desc }}</td>
            <td>R{{ item.Price }}</td>
            <td>
                <a (click)="CreatePizzaOrder(i)" class="btn btn-sm btn-success text-white"><i class="fa fa-plus"></i></a>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Topping Table -->
    <table class="table table-boarderless" id="ttopping">
        <thead class="thead-light">
            <tr>
                <th>Topping</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
      <tbody>
        <tr *ngFor="let item of toppingList; let j=index;">
            <td>{{ item.Topping_Name }}</td>
            <td>R{{ item.Price }}</td>
            <td>
                <a (click)="AddToppingToOrder(j, Orderservice.orderData.Order_ID)" class="btn btn-sm btn-success text-white"><i class="fa fa-plus"></i></a>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Extra Table -->
    <table class="table table-boarderless" id="textra">
        <thead class="thead-light">
            <tr>
                <th>Extra</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
      <tbody>
        <tr *ngFor="let item of extraList; let k=index;">
            <td>{{ item.Extra_Name }}</td>
            <td>R{{ item.Price }}</td>
            <td>
                <a (click)="AddExtraToOrder(k, Orderservice.orderData.Order_ID)" class="btn btn-sm btn-success text-white"><i class="fa fa-plus"></i></a>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Combo Table -->
    <table class="table table-boarderless" id="tcombo">
        <thead class="thead-light">
            <tr>
                <th>Combo</th>
                <th>Price</th>
                <th>Pizza</th>
                <th>Size</th>
                <th>Base</th>
                <th>Extra</th>
                <th></th>
            </tr>
        </thead>
      <tbody>
        <!-- <tr *ngIf="comboList.length==0">
            <td class="font-italic text-center" colspan="5">
            No Available Comboes.
            </td>
        </tr>  -->
        <tr *ngFor="let item of comboList; let l=index;">
            <td>{{ item.Combo_Name }}</td>
            <td>R{{ item.Combo_Price }}</td>
            <td>{{ item.Pizza_Name }}</td>
            <td>{{ item.Size_Desc }}</td>
            <td>{{ item.Base_Type }}</td>
            <td>{{ item.Extra_Name }}</td>
            <td>
                <a (click)="AddToOrder()" class="btn btn-sm btn-success text-white"><i class="fa fa-plus"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</form>

<!-- Base Table 
    <table class="table table-boarderless" id="tbase">
        <thead class="thead-light">
            <tr>
                <th>Base</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
      <tbody>
        <tr *ngIf="baseList.length==0">
            <td class="font-italic text-center" colspan="5">
            No Available Bases.
            </td>
        </tr> 
        <tr *ngFor="let item of baseList">
            <td>{{ item.Base_Type }}</td>
            <td>R{{ item.Price }}</td>
            <td>
                <a (click)="AddToOrder()" class="btn btn-sm btn-success text-white"><i class="fa fa-plus"></i></a>
            </td>
        </tr>
        </tbody>
    </table> -->

    <!-- Size Table 
    <table class="table table-boarderless" id="tsize">
        <thead class="thead-light">
            <tr>
                <th>Size</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
      <tbody>
        <tr *ngIf="sizeList.length==0">
            <td class="font-italic text-center" colspan="5">
            No Available Sizes for Pizzas.
            </td>
        </tr> 
        <tr *ngFor="let item of sizeList">
            <td>{{ item.Size_Desc }}</td>
            <td>R{{ item.Price }}</td>
            <td>
                <a (click)="AddToOrder()" class="btn btn-sm btn-success text-white"><i class="fa fa-plus"></i></a>
            </td>
        </tr>
        </tbody>
    </table> -->









<!--
 <div class="form-group">
                <label>Order Type</label>
                <select name="Order_Type" #Order_Type="ngModel" [(ngModel)]="service.formData.Order_Type" class="form-control"
                [class.is-invalid]="!isValid && service.formData.Order_Type==0">
                    <option value=" ">-Select-</option>
                    <option value="Sit-in">Sit-in</option>
                    <option value="Take-away">Take-away</option>
                    </select>
            </div>
            <div class="form-group">
                <label>Order Date</label>
                <input name="Order_Date" #Order_Date="ngModel" [(ngModel)]="service.formData.Order_Date" class="form-control"readonly>
                ***have to append calendar and pick current date
            </div>
            <div class="form-group">
                <label>Employee</label>
                <input name="Emp_Shift_ID" #Emp_Shift_ID="ngModel" [(ngModel)]="service.formData.Emp_Shift_ID" class="form-control"readonly>
            </div>
            <div class="form-group">
                <label>OrderItem</label>
                <select name="OrderItem_ID" #OrderItem_ID="ngModel" [(ngModel)]="service.formData.OrderItem_ID" class="form-control">
                    <option value="">-Select-</option>
                    </select>
            </div>
        </div>
    </div>

    <h1>hello</h1>
<select id="sept" name="temp" #temp="ngModel" [(ngModel)]="Orderservice.pizzaData.Pizza_ID" class="form-control">
    <option value="0">-- Select --</option>
    <option *ngFor="let item of pizzaList" value="{{item.Pizza_ID}}">{{item.Pizza_Name}}</option>
</select>
<table class="table table-boarderless" id="tpizza">
    <tr>
        <th>Flavour</th>
        <th>Description</th>
        <th>Price</th>
    </tr>
    <tr *ngFor="let item of pizzaList">
        <td>{{ item.Pizza_Name }}</td>
        <td>{{ item.Pizza_Desc }}</td>
        <td>{{ item.Price }}</td>
    </tr>
</table>


  ***order items table
    <table class="table table--borderless">
        <thead class="thead-light">
            <th>food</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>
                <a  class="btn btn-sm btn-success text-white"(click)="AddOrEditOrderItem(null, service.formData.Order_ID)"><i class="fa fa-plus"></i>Add Item</a>
            </th>
        </thead>
        <tbody>
        <tr *ngIf="service.orderItems.length==0" [class.text-danger]="!isValid && service.orderItems.length==0">
            <td class="font-italic text-center" colspan="5">
              No food item selected for this order.
            </td>
          </tr>
      <tr *ngFor="let item of service.orderItems;let i=index;">
        <td>{{item.ItemName}}</td>
        <td>{{item.Price}}</td>
        <td>{{item.Quantity}}</td>
        <td>{{item.Total}}</td>
        <td>
          <a class="btn btn-sm btn-info text-white" (click)="AddOrEditOrderItem(i,service.formData.OrderID)"><i class="fa fa-pencil"></i></a>
          <a class="btn btn-sm btn-danger text-white ml-1" (click)="onDeleteOrderItem(item.OrderItemID,i)"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="form-group">
    <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
    ***might need to change this line if router link doesnt navigate here, because of /orders
    <a class="btn btn-outline-dark ml-1" routerLink="/orders"><i class="fa fa-table"></i> View Orders</a>
  </div>
</form>

-->